
<% @recipes.each do |recipe| %>
  <h5><%= recipe.name %></h5>
  <% recipe.ingredients.each do |ingredient|%>
    <%= render partial: "ingredients/ingredient", locals: { ingredient: ingredient }%>
  <% end %>
<% end %>
