<h3><%= @recipe.name %></h3>
<% @recipe.ingredients.each do |ingredient|%>
  <%= render partial: "ingredients/ingredient", locals: { ingredient: ingredient }%>
<% end %>
<a href="/recipes/<%=@recipe.id%>/edit">Not Good Enough For Thee?</a>
