<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/ingredients"> List All Ingredients </a>
<a href="/recipes"> List All Recipes </a>
<a href="/ingredients/new"> Add Another Ingredient </a>
<a href="/recipes/new"> Toss Together Yet Another Salad? </a>
<h1>Flatiron Kitchen. Recipes, Ahoy!</h1>
<%= yield %>

</body>
</html>
